
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white !important;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
    font-weight: bolder;
    padding-bottom: 10px;
}

main {
  text-align: center;
  width: 70%;
  min-height: 400px;
  min-width: 370px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  order: 2;
}

h2 {
  font-weight: 100000;
  font-size: 50px
  text-decoration: underline;
  margin-bottom: -10px;
  float: center;
}

h3 {
  margin-left: 100px;
  float: left;
  display: block;
  bottom: 75px;
  position: absolute;
  font-size: 30px;
}


h5 {
  margin-left: 24px;
  float: left;
  position: absolute;
  bottom: 73px;
}

.mission {
  float: left;
  text-align: left;
  margin-right: -100px;
}

h6 {
  font-size: 15px;
  margin: 0;
}

form {
  position: absolute;
  bottom: 10px;
}


li {
  text-align: left;
  list-style-type: none;
  margin-left: -20px;
  margin-top: -2px;
  font-weight: bolder;
}

footer {
  text-align: center;
  color: black;
  font-size: -1px ;
  line-height: 1.1;
  font-weight: 100;
}

p {
  font-size: 12px;
}

a {
  font-size: 12px;
}

/* things inside powermac*/
form {
  position: absolute;
  display: block;
}

select {
  position: relative;
  margin-right: 8px;
  height: 32.59px;
  float: left;
}

input {
  position: relative;
  margin: none;
  width: 75px;
}


textarea {
  min-width: 70px;
  max-width: 120px;
  width: 100px;
  margin-bottom: 35px;
  margin-left: 13px;
}

.empty {
  width: 20px;
}

.startScreen {
  background: white; /* For browsers that do notred support gradients */
  background: -webkit-linear-gradient(left, #63daf6 , #d26c6c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #63daf6, #d26c6c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #63daf6, #d26c6c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #63daf6 , #d26c6c); /* Standard syntax */
  position: absolute;
  z-index: +1;
  width: 100%;
  height: 200%;
  text-align: center;
  left: 0;
  top: 0;
}

.activateScreen {
  background: white;
  position: fixed;
  z-index: +1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.activateScreen > p {
  font-size: 100px;
  top: 50%;
  left: 50%;
}

button.startteam {
  margin: 60px;
}

.startteam {
  margin: 110px auto;
  font-size: 50px;
}

.hidden {
  display: none;
}


.top {
  height: 75px;
}

.center {
  display: flex;
  min-width: 680px;

}

.powermac {
  text-align: center;
  border: 3px solid #444;
  width: 15%;
  float: left;
  min-width: 140px;
  min-height: 400px;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  display: block;
  transition: 0.25s box-shadow, 0.25s -webkit-transform;
}

.mac-bottom {
  position: absolute;
  display: inline-flex;
  min-width: 120px;
  bottom: 0;
  left: 10%;

}

.blue {
  background: -webkit-linear-gradient(top, #77BFC7 0%, #3b80c0 100%);
  order : 1;
}

.red {
  background: -webkit-linear-gradient(top, #F75D59 0%,#e4201b 100%);
  order: 3;
}

.word_box {
  background: #fff2e5;
  border: 2px solid #444;
  width: 19%;
  height: 19%;
  min-width: 120px;
  min-height: 70px;
  border-radius: 7px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.word_box:hover {
  box-shadow: inset 0 0 0 3px black;
}


.words {
  font-weight: bolder;
  font-size: 16.5px;
  text-align: center;
  margin-top: 26px;
  background: white;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

.infoBox {
  display: block;

}

.nav {
  border-bottom: 1px solid #444;
  height: 60px;
  margin-top: 6px;
}

div.timer {
  margin-top: 3px;
  float: right;
  text-align: center;
  font-size: 30px;
  font-weight: 500px;
  display: inline;
  margin-left: -200px;
  font-family: monospace;
}


#bluestart {
  box-shadow: 0 0 0 0 #0198E1 inset, 0.2em 0.1em 0 0 #0EBFE9;
  border: 0.2em solid #0198E1;
  color: #2B4F81;
  font-weight: bolder;
  text-transform: uppercase;
  width: 320px;
  text-align: left;
}

#bluestart:hover, #select-blue:hover, #send-button-blue:hover  {
  box-shadow: 0 4em 0 0 #0198E1 inset, 0em 0em 0 0 #0198E1;
  -webkit-transform: translate(0.3em, 0.2em);
  color: #fff;
}

#blueactivate {
  color: #0EBFE9;
}




#redstart {
  box-shadow: 0 0 0 0 #cd5c5c inset, 0.2em 0.1em 0 0 #d26c6c;
  border: 0.2em solid #cd5c5c;
  color: #4e1818 ;
  font-weight: bolder;
  text-transform: uppercase;
  width: 320px;
  text-align: right;
}

#redstart:hover, #select-red:hover, #send-button-red:hover {
  box-shadow: 0 4em 0 0 #cd5c5c inset, 0em 0em 0 0 #cd5c5c;
  -webkit-transform: translate(0.3em, 0.2em);
  color: #fff;
}

#redactivate {
  color: #d26c6c;
}

/*Buttons animation*/
button, input, select, textarea{
  color: #444;
  line-height: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 0.2em solid #444;
  padding: 0.8em;
  text-align: center;
}

button {
  box-shadow: 0 0 0 0 #444 inset, 0.3em 0.2em 0 0 #bbb;
  transition: 0.25s box-shadow, 0.25s -webkit-transform;
  color: inherit;
}

button-small, input-small, select-small {
  padding: 0.7em;
}

button:hover {
  box-shadow: 0 4em 0 0 #444 inset, 0em 0em 0 0 #bbb;
  -webkit-transform: translate(0.3em, 0.2em);
  color: #fff;
}
.disabled{
  background: black;
  opacity: 0.4;
}
.disabled:hover {
  box-shadow: none;
  -webkit-transform: translate(0, 0);
  color: none;
}
/* ends here */
.heavy {
  font-weight: 700;
}
.extraheavy {
  font-weight: 900;
}
.light {
  font-weight: 300;
}

/* code for animated blinking cursor */
.transition {
  background: white;
  width: 100%;
  height: 300%;
  position: absolute;
  z-index: +1;
  top: 0px;
  left: 0px;
  color: white;
}

.mid {
  position: absolute;
  background: #191919;
  border-radius: 20px;
  margin: 20% 20%;
  text-align: left;
  font-size: 200px;
  border: 3px solid black;
  padding: 10px;
}

.accept {
  position: absolute;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bolder;
}

.cobalt {
  color: #0EBFE9;
}

.crimson {
  color: #d26c6c;
}

/*end of type animation*/
